/* styles/DaySchedule.css */

.drawer {
    z-index: 9999;
}

.container {
    width: 100vw;
}

.containerCard {
    width: 100%;
    border-radius: 8px;
    --shadow-color: hsl(0deg 0% 0% / 0.25);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.daySchedule {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-x: auto; /* Ensuring horizontal scrolling */
    width: 100%;
    -ms-overflow-style: none; /* for IE and Edge */
    scrollbar-width: none;
    white-space: nowrap;
  }
  
  
  .daySchedule::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
  
  .timeline {
    display: flex;
    width: max-content;
    background-color: #f7f7f7;
    /* margin-bottom: 5px; */
  }
  
  .hourMarker {
    width: 120px; /* Each hour is 400px wide */
    border-right: 2px solid #eee;
    padding: 5px;
    text-align: left;
    font-size: 14px;
  }
  
  .gridContainer {
    position: relative;
    width: 100%;
    height: 100px;
    /* z-index: -1; */
  }
  
  .gridTable {
    display: flex;
    width: max-content;
  }
  .shiftsLayer {
    display: flex;
    width: max-content;
    height: 100px;
  }
  

  .gridBlock {
    width: 120px; /* 400px per hour, divided by 60 for each minute */
    height: 100px;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    /* padding: 5px; */
    background-color: #ffffff;
  }
  
  .shiftBlock {
    position: absolute;
    height: 70px;
    top: 15px; /* to center the shift block vertically within the grid block */
    border-radius: 8px;
    text-align: center;
    --shadow-color: hsl(0deg 0% 0% / 0.25);
    overflow: hidden;
    white-space: nowrap;
  }

  .deleteShift {
    position: absolute;
    top: 2px;
    right: 2px;
    background: rgba(255, 0, 0, 0.6); /* Red background */
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 50%; /* makes it circular */
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; /* vertically center the X */
  }

  .shiftBlock:hover .deleteShift {
    display: block;
}
  
.deleteShift {
    display: none;
}
  